@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

footer,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}

.nav-links {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.d-none {
  display: none !important;
}
